:root {
  --basic-black: #000000;
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --green-success: #5fbb2d;
  --yellow-warning: #ffbf47;
  --red-error: #ba2732;
  --special-grey-light: #eaeaea;
  --nav-grey: #293449;
  --nav-greylight: #32425c;
  --nav-greydark: #1d2739;
  --pale-grey: #a9a9a9;
  --very-light-grey: #e5e5e5;
  --social-icon-background: #212a3a;
  --box-shadow-green: #367315;
  --green-button-click: #518534;
  --button-border-grey: #cbcfd6;
  --box-shadow-dark: rgba(0, 0, 0, 0.24);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-background);
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  font-size: 18px;
  line-height: 24px;
  color: var--(basic-white);
}

.main-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--nav-greylight);
}

.head-navigation-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.head-navigation-items a {
  width: 150px;
  height: 42px;
  display: block;
  color: var(--basic-white);
}

.head-navigation-items a:hover,
.head-navigation-items a:focus {
  color: var(--basic-white);
}

.head-navigation-items a:active {
  opacity: 0.5;
}

.order-navigation a {
  background-color: var(--basic-green);
}

.order-navigation a:hover,
.order-navigation a:focus {
  background-color: var(--green-success);
}

.oreder-navigation a:active {
  opacity: 0.5;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--box-shadow-dark);
  box-sizing: border-box;
}

.logo:hover,
.logo:focus {
  background-color: var(--basic-red);
}

.logo:active {
  background-color: var(--red-error);
}

.search-form input {
  font: inherit;
  background-color: transparent;
  color: var(--basic-white);
  border: 1px transparent;
  background-image: url("img/icon-search.svg");
  background-repeat: no-repeat;
}

.search-form input:focus,
.search-form input:active {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}

.about-site {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.user-navigation {
  display: flex;
  list-style: none;
}
.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 15px;
}

.site-navigation a {
  display: block;
  padding: 10px 15px;
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--nav-grey);
}

.site-navigation a:active {
  background-color: var(--nav-greydark);
  opacity: 0.5;
}

.index-columns-wrapper {
  width: 100%;
  background-color: var(--basic-white);
}
.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 70px;
  width: 940px;
  height: 356;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.index-columns h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-info {
  width: 478px;
}

.delivery-info p {
  margin: 0;
}

.contact-info {
  width: 300px;
}

.contacts p {
  margin: 0;
}

.red-button {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}

.index-columns p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-service {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.index-columns a {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.visually-hidden {
  display: none;
}

.main-footer {
  display: grid;
  grid-template-columns: min-content max-content;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--nav-greylight);
  color: var(--basic-white);
}

.main-footer-navigation {
  list-style: none;
}
.main-footer-navigation a {
  color: var(--basic-white);
  padding: 17px 29px;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus {
  text-decoration: underline;
}

.main-footer-navigation a:active,
.footer-navigation-items a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation-items {
  list-style: none;
}

.footer-navigation-items a {
  color: var(--special-yellowlight);
  padding: 17px 29px;
}

.footer-navigation-items a:hover,
.footer-navigation-items a:focus {
  text-decoration: underline;
  color: var(--special-yellowlight);
}

.footer-navigation-links {
  margin-top: 30px;
}

.contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 29px;
  background-color: var(--nav-grey);
  color: var(--basic-white);
}

.contacts .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.copyright {
  margin: 0;
  width: 227px;
}

.developer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 286px;
}

.yellow-links {
  margin: 0;
}

.yellow-links a {
  color: var(--special-yellowlight);
}

.yellow-links a:hover,
.yellow-links a:focus {
  text-decoration: underline;
}

.yellow-links a:active {
  color: var(--basic-red);
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons a {
  background-color: var(--social-icon-background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50%;
}

.social-icons a:hover,
.social-icons a:focus,
.social-icons a:active {
  background-color: var(--basic-red);
}

.user-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
  margin-left: 51px;
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.user-login a:hover,
.user-login a:focus {
  color: var(--basic-black);
}

.user-login a:active {
  color: var(--basic-greylight);
}

.user-items {
  font-size: 16px;
  line-height: 18px;
  color: var(--nav-greylight);
}

.user-items a:hover,
.user-items a:focus {
  color: var(--basic-red);
}

.user-items a:active {
  color: var(--basic-greylight);
}

.phone-number a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 41px;
  width: 270px;
  height: 45px;
  color: var(--basic-red);
  background: transparent;
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.catalog-main-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
}

.catalog {
  margin-left: 10px;
}

.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.perforators {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  grid-column: 1 / -1;
  padding: 30px;
  text-transform: uppercase;
  color: var(--nav-greylight);
  background-color: var(--basic-background);
}

.main-catalog h1 {
  margin: 0;
  margin-bottom: 20px;
}

.filters {
  width: 220;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filters legend {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 30px;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
}

.brand-filter,
.battery-type-filter {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.extra-navigation {
  list-style: none;
}
.product-items {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  list-style: none;
}

.product-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  border: 1px solid var(--special-grey-light);
  box-sizing: border-box;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item-container h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 28px 17px 7px 18px;
}

.product-items p {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--pale-grey);
  text-decoration-line: line-through;
  text-transform: uppercase;
  text-align: center;
}

.product-items {
  border: 1px solid var(--special-grey-light);
  box-sizing: border-box;
}

.product-items li {
  position: relative;
}

.product-items li:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-items li:hover .product-items-actions {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.product-items span {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-item-image {
  margin: 0;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  margin-top: 0;
}

.price-tag {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.buy-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow-green);
  border-radius: 2px;
}

.buy-button img {
  opacity: 0.3;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--green-success);
}

.buy-button:active {
  background-color: var(--green-button-click);
}

.wishlist-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--nav-greylight);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.wishlist-button:hover,
.wishlist-button:focus {
  border: 3px solid var(--nav-greylight);
}

.wishlist-button:active {
  border: 3px solid var(--button-border-grey);
}

.all-brands-list {
  list-style: none;
}

.service-items {
  list-style: none;
}

.product-items-actions {
  display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  order: 0;
}

.header-navigation {
  width: 940px;
  margin: 0;
  padding: 0;
}

.button-with-icon {
  padding-left: 50px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.main-navigation {
  width: 940px;
  margin-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--nav-grey);
  align-items: flex-start;
  flex-direction: row;
  box-shadow: inset 0px -5px 0px var(--basic-background);
}

.main-footer-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--nav-greylight);
  align-items: flex-start;
  flex-direction: row;
}

.main-footer-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.extra-navigation {
}

.logo-footer-adress {
  display: flex;
  flex-direction: column;
  width: 321px;
}

.main-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-navigation-items {
  display: flex;
  flex-wrap: wrap;
}
